$app-background-color: #f1f1f1;
$gray: #5a5a6a;
$green: rgb(0, 197, 0);
$green-hover: rgb(2, 179, 2);
$red: #e93333;
$red-hover: rgb(223, 0, 0);
$blue: rgb(0, 195, 255);
$blue-hover: rgb(0, 174, 255);
$yellow: yellow;
$white: #ffffff;
$black: #000000;
$purple: #3b2995;
$header-line: #6d6d6d;
$header-second-title: #cbcbcb;
$header-first-title: $purple;
$purple-focus: #4e36c7;
$item-done-background: #d1bcbc;
$item-background: #e4e3e3;